
html {
    font-size: 11pt;
}


body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div#body {
    vertical-align: top;
}


div.w50 {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}


@media screen and (max-device-width: 480px) and (orientation: portrait) {
    body {
        width: 100vw;    
    }
    div.w50 {
      width: 100%;
      display: block !important;
    }    
}

/*
ltBlue: 5AC8FA; 
Yellow: FFCC00;
Orange: FF9500;
Lollypop: FF2D55
DarkBlue: 007AFF;
Green: 4CD964;
DarkRed: FF3B30;
Gray: 8E8E93;

*/

/* Get rid of ugly grey tap highlight */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* give users feedback when they tap something that's tappable. */
button:active {
  color: green;
}
/* Remove Glossy Looking Buttons in Safari */
button {
    -webkit-appearance: carret;
    -webkit-appearance: none; /* alernatively */
}

/* Disable Selection/Copy When Long Tapping */
/* Allow Text Selection For Input */
/* Better Looking Text */
body {
    -webkit-touch-callout: none;
    -webkit-user-select: text;
    text-rendering: optimizeLegibility;
}


h1 {
    margin: 0;
    padding: 8px;
    font-size: 1.5rem;   
    color: white;
}

h1 > span {
   font-size: 1rem;
}

b.small, span.small {
    font-size: 0.8rem;
}

a {
    cursor: pointer;
    text-decoration: none;        
}

a:hover, 
a:focus, 
a:active {
    color: black;
}

select {
    padding: 4px;
}

select.small {
    font-size: 0.8rem;
}

button.disabled {
    color: silver;
}


th {
    text-align: left;
    font-size: 0.8rem;
}


th.right, td.right {
    text-align: right;
    padding-right: 0.2rem;
}

th.small, td.small {
    font-size: 0.7em;
}



fieldset {
    padding: 0.35rem;
    Zdisplay: inline-block;
    Zwidth: 49%;
    ZZZmax-width: 24rem;
    vertical-align: top;    
    box-sizing: border-box; 
}

fieldset.col2 {
    width: 98%;    
}

button {
    height: 2rem;
    min-width: 2.2rem;
    background-color: white;
}

button.small {
    vertical-align: top;
    font-size: 0.7rem;
    min-width: 0.2rem;
}
button.small.over {
    min-width: 1.8rem;
}

button.wide {
    min-width: 2.9rem;
}

button.selected {
    background-color: #FFC3CE;
}


label {
    font-size: 0.8rem;
}

label.fixed {
    display: inline-block;    
    width: 2.8rem;
}

/* page header */

div.page-header {
    background-color: #333333; 
}

div.page-header a.menuicon {
   font-size: 1.5rem;
   color: white;
   opacity: 0.75;
   padding: 0 0.3rem;
}

div.page-header a.menuicon:hover  {
   opacity: 1;
}

span.score {
    font-size: 0.8rem;
    background-color: white;
    border-radius: 10px;
    padding: 2px 8px;
    color: black;
    margin-right: 8px;
}


/* fieldset#over */

button.partner1 {
  background-color: #DAF0FA;
}
select.partner1 {
  background-color: #DAF0FA;
}
button.partner1.selected {
  background-color: #5AC8FA;    
}

button.partner2 {
  background-color: #FFF6D2;
}
select.partner2 {
  background-color: #FFF6D2;    
}
button.partner2.selected {
    background-color: #F9D659;    
}

fieldset#over tr.batter.selected td {
    background-color: #FFC3CE;
}

fieldset#over button {
    min-width: 2.5rem;
}

/* fieldset#ball */

fieldset#ball h2.endover {
    background-color: #FFC3CE;
    margin: 0.2rem;
    border-radius: 6px;
    padding: 0.6rem;

}

/* fieldset#extras */

fieldset#extras span.right {
    display: inline-block;
    float: right;
}

/* fieldset#bowlers */
/* fieldset#batters  */

fieldset#bowlers tr td {
    border-bottom: 1px dotted gray;
    padding-bottom: 2px;

}

fieldset#batters tr td {
    border-bottom: 1px dotted gray;
    padding-bottom: 2px;    
}


span.markup {
    display: inline-block;
    border-left: dotted 1px gray;
    padding: 0 4px 0 4px;
    font-size: 0.8rem;
}

span.selected {
    background-color: #FFC3CE;
}


div.popout {
    display: none;
    z-index: 100; /* high z-index */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #FAFAFA;
    color: #757575;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

div.popout a {
    text-decoration: none;    
}


div.popout a.icon {
    padding: 0 8px;
    color: #808080;
}

div.popout a.tick {
    color: #000080;
}
div.popout a.cross {
    color: #800000;
}

div.popout a.icon:hover {
    color: black;
}
div.popout h1 {
    background-color: #FF2D55;
}

div.popout button {
    margin-top: 4px;
    display:block;
    width:100%;
}

div.popout label {
    color: #999;
}


div.popout ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
   
div.popout li span {    
    color: #B2B2B2;    
    font-size: 0.9rem;
    padding: 0 1rem;    
}

div.popout li a {
    color: #757575;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    
    padding: 1em 1rem;
}

div.popout li a:hover {
    background-color: #E1E1E1;

}

div.popout input[type="text"] {
    margin: 2px 0;
    padding: 2px;
    font-size: 1.2rem;
}

div.popout a.move {
    font-size: 1.2rem;
    border: 1px dotted gray;
    padding: 0 .3rem;
    min-width: 1.3rem;
    border-radius: 6px;
}

div.trigram {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 16px;
    top: 0;
    height: 0;
    -webkit-box-shadow: 1px 10px 1px 1px #69737d,1px 16px 1px 1px #69737d,1px 22px 1px 1px #69737d;
    box-shadow: 0 10px 0 1px #69737d,0 16px 0 1px #69737d,0 22px 0 1px #69737d;
} 

/* unkonwn */

b.stats, span.stats {
    font-size: 0.9em;
    display: inline-block;
    width: 1rem;
    text-align: right;    
}


